<app-header></app-header>
<div class="container"> 
  <div class="header row mt-3">
    <div class="content">
      <div class="search-header d-flex align-items-center">
        <form class="input-search flex-grow-1" method="get" [formGroup]="searchItem" (ngSubmit)="openSearch()">
          <div class="autocomplete d-flex">
            <input id="search-box" name="search" autocomplete="off" type="text" placeholder="Nhập từ khóa tìm kiếm..." class="form-control" formControlName="itemSearch"/>
          </div>
        </form>
        <!-- Nút tìm kiếm (đặt riêng ra ngoài form) -->
        <button type="submit" class="btn btn-primary ms-2" (click)="openSearch()">
          <i class="fa fa-search"></i> Tìm kiếm
        </button>
      </div>

      <div class="tags mt-2">
        <strong>Từ khóa: </strong>
        <button
          class="border-0"
          *ngFor="let t of tag"
          (click)="searchTag(t)"
        >
          {{ t + " " }} &nbsp;
        </button>
      </div>
    </div>
  </div>

  <div class="row mt-4">
      <ngb-carousel>
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="wrapper">
            <img [src]="image.src" alt="Random first slide" style="width: 99.9%">
          </div>
          <div class="carousel-caption">
          </div>
        </ng-template>
      </ngb-carousel>
  </div>
  <div class="row mt-2 "><img src="../../../assets/blackFriday.gif" style="width: 99.95%" class="img-fluid"></div>
  <div class="row mb-3">
    <div class="col-lg-4 mt-4 ml-0 sanPham" *ngFor="let p of productList" >
      <a class="text-decoration-none " [routerLink]="['/infoProduct',p.idProduct]">
          <img [src]="'assets/img/' +p.avt" style="width: 200px;height: 180px">
          <h3>{{p.productName}}</h3>
          <div class="text-danger price">
           <strong>{{numToString(p.price)}}<sup>đ</sup></strong>
          </div>
        <div class="ratingresult">
          <ngb-rating [max]="5" [(rate)]="p.numOfStar" [readonly]="false"></ngb-rating>
          <span>{{p.numOfReview}} đánh giá</span>
        </div>
        <label class="giareonline" *ngIf="p.promotion.idPromotion==1">Giá rẻ online</label>
        <label class="moiramat" *ngIf="p.promotion.idPromotion==2">Mới ra mắt</label>
        <label class="tragop" *ngIf="p.promotion.idPromotion==3">Trả góp 0%</label>
      </a>
      <button class="btn  border-0 tool" (click)="add(p.idProduct,p.productName,p.price,p.avt)" data-tooltip="Thêm vào giỏ">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
    </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination  justify-content-center">
      <li class="page-item">
        <a class="page-link" aria-label="Previous"  (click)="getPage(0)">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Đầu</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link"  aria-label="Previous" *ngIf="(indexPagination-1)>0" (click)="getPage((indexPagination-2))">
          <span aria-hidden="true">&lsaquo;</span>
          <span class="sr-only">Trước</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" *ngIf="(indexPagination-1)>0" (click)="getPage((indexPagination-2))">{{indexPagination - 1}}</a></li>
      <li class="page-item active" aria-current="page">
        <a class="page-link"(click)="getPage((indexPagination-1))">{{indexPagination}}</a>
      </li>
      <li class="page-item"><a class="page-link" *ngIf="(indexPagination +1)<= totalPagination" (click)="getPage((indexPagination))">{{indexPagination + 1}}</a></li>
      <li class="page-item">
        <a class="page-link"  aria-label="Next" *ngIf="(indexPagination +1)<= totalPagination" (click)="getPage((indexPagination))">
          <span aria-hidden="true">&rsaquo;</span>
          <span class="sr-only">Sau</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" aria-label="Next"  (click)="getPage((totalPagination-1))">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Cuối</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
<app-footer></app-footer>
